@import "tailwindcss";

@plugin "tailwindcss-animate";

/* Custom Leaflet Map Container Style */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 10;
}

/* Kırmızı yanıp sönen animasyon (Riskli stok için) */
@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}

/* Yol animasyonu (Polyline) */
@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

.animate-dash {
  animation: dash 1s linear infinite;
}